<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="../public/javascripts/jquery-3.5.1.min.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <span><%=data.name%></span>
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <form>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="button" class="btn btn-warning btn-lg">Login</button>
        </form>
        <hr>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>Username</strong></th>
                    <th><strong>Password</strong></th>
                    <th><strong>Role</strong></th>
                </tr>
            </thead>
            <tbody id="content">
               <% data.forEach(function(i){ %>
                <tr>
                <td><%=i.id %></td>
                <td><%=i.username %></td>
                <td><%=i.password %></td>
                <td><%=i.role %></td>
                </tr>
               <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    $('.btn').click(function(){
        $.ajax({
        url:"/login",
        type:"POST",
        data:{
            username:$('#username').val(),
            password:$('#password').val(),
        }
    })
    .then(data =>{
        console.log(data);
        localStorage.setItem("token",data)
        window.location.replace('/');
    })
    .catch(err =>{
        console.log(err);
    })
    })

</script>
</html>